@use "../../../util/variables";
@use "../../../util/breakpoints";
//This is just to hide the modals in the Dashboard editor. PENDING to make it better
.acf-block-component {
    & .shocklogic_speakers_slider_wordpress_wrapper_modals {
        display: none;
    }
    & .swiper-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.shocklogic_speakers_slider_wordpress {
    @include variables.spacing;
    &_wrapper {
        &_title {
            @include variables.title_spacing;
        }
        &_speakers {
            & .swiper {
                & .swiper-wrapper {
                    margin: 1rem;
                }
                & a {
                    @include variables.aspect-ratio(1, 1);
                    display: block;
                    width: 100%;
                    transform: scale(1);
                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.5s;
                    }
                    & img {
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center center;
                        display: block;
                        margin: 0 auto;
                        height: 100%;
                    }
                }
            }
            &_name {
                text-align: center;
                padding-top: 1rem;
            }
        }
        &_bottom_text {
            @include variables.section_top_spacing;
        }
    }
}
