@use "../../../util/variables";
@use "../../../util/breakpoints";
.shocklogic_blog {
    @include variables.spacing;
    &_wrapper {
        &_title {
            @include variables.title_spacing;
        }
        &_blog {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr;
            @media (min-width: breakpoints.$desktop_small) {
                grid-template-columns: 1fr 1fr;
            }

            &_single {
                &_ratio {
                    @include variables.aspect-ratio(16, 5);
                }

                & img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                    object-position: center center;
                }
            }
        }
        &_bottom_text{
            @include variables.section_top_spacing;
        }
    }
}
