@use "../../../util/variables";
@use "../../../util/breakpoints";
.shocklogic_banner {
    &.contain {
        @include variables.spacing;
    }
    &.fullscreen {
        padding: 0;
    }
    &_wrapper {
        position: relative;

        &_content {
            position: absolute;
            top: 0;
            @include variables.spacing;
        }
    }
}
