@use "../../util/breakpoints";
@use "../../util/variables";
.modal {
    &_dialog {
        &_content {
            padding: 0rem 0.5rem;
            &_body {
                display: grid;
                align-content: center;
                justify-content: center;
                align-items: start;
                grid-gap: 20px;
                grid-template-columns: 1fr;
                &_left {
                    text-align: center;
                    &_image {
                        aspect-ratio: 1 / 1;
                        width: 80%;
                        @media (min-width: breakpoints.$tablet) {
                            width: 70%;
                        }
                        max-width: 300px;
                        min-width: 250px;
                        margin: 0 auto;
                        margin-bottom: 1rem;
                        & img {
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: center center;
                            display: block;
                            margin: 0 auto;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                &_right {
                }
            }

            &_footer {
            }
        }
    }
}
