@use "util/variables";
@use "util/breakpoints";
.footer {
    &.contain {
        @include variables.spacing;
    }

    & a {
        text-decoration: none;
    }
    &_wrapper {
        display: grid;
        gap: 2rem;
        align-items: start;
        justify-items: center;

        &_column {
        }
    }
}
