@use "util/variables";
@use "util/breakpoints";
.footer {
    @include variables.spacing;

    & a {
        text-decoration: none;
    }
    &_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;

        &_column {
            flex-basis: fit-content;
        }
    }
}
