@use "util/variables";
@use "util/breakpoints";

table {
    word-break: keep-all;
}
img {
    max-width: 100%;
}
iframe {
    width: 100%;
    height: 100%;
}

.font-normal {
    font-weight: 400 !important;
}
.font-bold {
    font-weight: bold !important;
}

.standard_padding {
    @include variables.spacing("!important");
}

@media (min-width: breakpoints.$desktop_medium) {
    .hide-on-desktop {
        display: none;
    }

    .show-on-desktop {
        display: block;
    }
}
