@use "../../util/variables";
@use "../../util/breakpoints";
.shocklogic_social_media_bar {
    display: none;
    @media (min-width: breakpoints.$desktop-large){
        display: block;
    }

    background-color: #20202080;
    position: fixed;
    top: 30%;
    right: 1rem;
    width: 70px;
    padding: 1rem;
    border-radius: 25px;
    z-index: 5; 
    &_container {
        display: grid;
        grid-gap: 15px;

        &_image {
            & a {
                & img {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}
