@use "../../../util/variables";
@use "../../../util/breakpoints";
.shocklogic_single_iframe {
    @include variables.spacing;
    &_wrapper {
        &_iframe,
        &_code {
            @include variables.aspect-ratio(16, 9);
            &.contain {
                width: 90%;
                margin: 0 auto;
                @media (min-width: breakpoints.$tablet) {
                    width: 80%;
                }
                @media (min-width: breakpoints.$desktop_small) {
                    width: 75%;
                }
            }
            &.fullwidth {
                width: 100%;
            }
        }
    }
}
