@use "../../../util/variables";
@use "../../../util/breakpoints";
//This is just to hide the modals in the Dashboard editor. PENDING to make it better
.acf-block-component {
    & .shocklogic_speakers_wordpress_wrapper_modals {
        display: none;
    }
    & .shocklogic_speakers_wordpress_wrapper_speakers {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.shocklogic_speakers_wordpress {
    @include variables.spacing;
    &_wrapper {
        &_title {
            @include variables.title_spacing;
        }
        &_speakers {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: flex-start;

            &_speaker {
                padding: 30px 15px;
                width: min(100%, 15rem);

                &_name {
                    text-align: center;
                    padding-top: 1rem;
                }
                & a {
                    @include variables.aspect-ratio(1, 1);
                    display: block;
                    width: 100%;
                    & img {
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center center;
                        display: block;
                        margin: 0 auto;
                        height: 100%;
                    }
                }
            }
        }
        &_bottom_text {
            @include variables.section_top_spacing;
        }
    }
}
